.offcanvas-header {
    background-color: #198754;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.adjustComment {
    position: absolute;
    justify-content: right;
    bottom: 0;
    right: 0;
}

.comment-rating {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 8px;
    padding-top: 8px;
}

.navbuddy {
    /* position: absolute; */
    z-index: 1;
    width: 100%;
    /* filter: drop-shadow(5px 5px 2px #afafaf); */
}

.dropshadow {
    filter: drop-shadow(2px 2px 2px #afafaf);
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset,
label {
    margin: 0;
    padding: 0;
}

body {
    margin: 20px;
}

h1 {
    font-size: 1.5em;
    margin: 10px;
}

/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: left;
}

.rating>input {
    display: none;
}

.rating>label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating>.half:before {
    content: "\f089";
    position: absolute;
}

.rating>label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating>input:checked~label,
/* show gold star when clicked */
.rating:not(:checked)>label:hover,
/* hover current star */
.rating:not(:checked)>label:hover~label {
    color: #FFD700;
}

/* hover previous stars in list */

.rating>input:checked+label:hover,
/* hover current star when changing rating */
.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,
/* lighten current selection */
.rating>input:checked~label:hover~label {
    color: #FFED85;
}

.card-link {
    text-decoration: none;
}

.favorite {
    color: red;
}

.favorite:hover {
    cursor: pointer;
    color: darkred
}

.notfavorite:hover {
    cursor: pointer;
    color: black;
}

.fa-x {
    color: red;
}

.fa-check {
    color: green;
}

.checker {
    font-size: .9rem;
    font-style: italic;
}